@(msg: String)
    
 <div class="tabbable tabs-left" style="margin-bottom: 18px;">
   <ul class="nav nav-tabs">
     <li class="active"><a href="#analyticstab1" data-toggle="tab">Trends</a></li>
     <li><a href="#analyticstab2" data-toggle="tab">Engage</a></li>
     <li><a href="#analyticstab3" data-toggle="tab">Insight</a></li>
     <li><a href="#analyticstab3" data-toggle="tab">Efficiency</a></li>
     <li><a href="#analyticstab2" data-toggle="tab">Users</a></li>
     <li><a href="#analyticstab4" data-toggle="tab">Predict</a></li>
   </ul>
   <div class="tab-content" >
     <div class="tab-pane  active" id="analyticstab1">
       <p>Coming soon...</p>
     </div>
     <div class="tab-pane" id="analyticstab2">
       <p>Coming soon...</p>
     </div>
     <div class="tab-pane" id="analyticstab3">
       <p>Coming soon...</p>
     </div>
     <div class="tab-pane" id="analyticstab4">
       <p>Coming soon...</p>
     </div>
  </div>
 </div>
 