@(msg: String)
    
 <div class="tabbable tabs-left" style="margin-bottom: 18px;">
   <ul class="nav nav-tabs">
     <li class="active"><a href="#admintab1" data-toggle="tab">About</a></li>
     <li><a href="#admintab2" data-toggle="tab">Your Funnels</a></li>
     <li><a href="#admintab3" data-toggle="tab">New Funnel</a></li>
   </ul>
   <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
     <div class="tab-pane  active" id="admintab1">
       <p>Support Funnels are mechanisms by which you can collect feedback or issues from your customers.
       You can choose the means of customer engagement you want on your website or over the mobile device.</p> 
       <p>Once you choose them, you can generate a simple javascript code that you can install on your website. 
       Our mobile app automatically picks your latest funnel configuration.</p>
       <p>Funnels are meant to provide an array of tools to let your customers reach you. 
       The issues/feedback collected via the funnels you setup are reported on the Dashboard.</p>
       <p>To get started, choose "New Funnel" to create a funnel, or "Your Funnel" to review/edit current funnels.</p>
     </div>
     <div class="tab-pane" id="admintab2">
       <p>Howdy, I'm in Section 2.</p>
     </div>
     <div class="tab-pane" id="admintab3">
       <p>What up girl, this is Section 3.</p>
     </div>
     <div class="tab-pane" id="admintab4">
       <p>Section 4.</p>
     </div>
  </div>
 </div>
 