@(msg: String)
    
 <div class="tabbable tabs-left" style="margin-bottom: 18px;">
   <ul class="nav nav-tabs">
     <li class="active"><a href="#admintab1" data-toggle="tab">Account</a></li>
     <li><a href="#admintab2" data-toggle="tab">Settings</a></li>
     <li><a href="#admintab2" data-toggle="tab">User Management</a></li>
     <li><a href="#admintab3" data-toggle="tab">Notification</a></li>
     <li><a href="#admintab4" data-toggle="tab">Rules</a></li>
   </ul>
   <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
     <div class="tab-pane  active" id="admintab1">
       <p>I'm in Section 1.</p>
     </div>
     <div class="tab-pane" id="admintab2">
       <p>Howdy, I'm in Section 2.</p>
     </div>
     <div class="tab-pane" id="admintab3">
       <p>What up girl, this is Section 3.</p>
     </div>
     <div class="tab-pane" id="admintab4">
       <p>Section 4.</p>
     </div>
  </div>
 </div>
 