@(msg: String)
    
 <div class="tabbable tabs-left" style="margin-bottom: 18px;">
   <ul class="nav nav-tabs">
     <li class="active"><a href="#admintab1" data-toggle="tab">API Key</a></li>
     <li><a href="#admintab2" data-toggle="tab">Account</a></li>
     <li><a href="#admintab3" data-toggle="tab">Settings</a></li>
     <li><a href="#admintab4" data-toggle="tab">User Management</a></li>
     <li><a href="#admintab5" data-toggle="tab">Notification</a></li>
     <li><a href="#admintab6" data-toggle="tab">Rules</a></li>
   </ul>
   <div class="tab-content" >
     <div class="tab-pane active" id="admintab1">
       <p>Your API Key (included in your Funnel Javascript Code is):</p>
		  <div class="well well-small">
			bfd2cb53-5c21-45c7-b9c6-067311f14ddc
		  </div>
     </div>
     <div class="tab-pane" id="admintab2">
       <p>Coming soon...</p>
     </div>
     <div class="tab-pane" id="admintab3">
       <p>Coming soon...</p>
     </div>
     <div class="tab-pane" id="admintab4">
       <p>Coming soon...</p>
     </div>
     <div class="tab-pane" id="admintab5">
       <p>Coming soon...</p>
     </div>
     <div class="tab-pane" id="admintab6">
       <p>Coming soon...</p>
     </div>
  </div>
 </div>
 