@(msg: String)
    
 <div class="tabbable tabs-left" style="margin-bottom: 18px;">
   <ul class="nav nav-tabs">
     <li class="active"><a href="#analyticstab1" data-toggle="tab">Trends</a></li>
     <li><a href="#analyticstab2" data-toggle="tab">Engage</a></li>
     <li><a href="#analyticstab3" data-toggle="tab">Insight</a></li>
     <li><a href="#analyticstab3" data-toggle="tab">Efficiency</a></li>
     <li><a href="#analyticstab2" data-toggle="tab">Users</a></li>
     <li><a href="#analyticstab4" data-toggle="tab">Predict</a></li>
   </ul>
   <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
     <div class="tab-pane  active" id="analyticstab1">
       <p>I'm in Section 1.</p>
     </div>
     <div class="tab-pane" id="analyticstab2">
       <p>Howdy, I'm in Section 2.</p>
     </div>
     <div class="tab-pane" id="analyticstab3">
       <p>What up girl, this is Section 3.</p>
     </div>
     <div class="tab-pane" id="analyticstab4">
       <p>Section 4.</p>
     </div>
  </div>
 </div>
 