@(message: String)

@main(title = message, displayVRBar = true) {
    
	@topnav("active")	
	
    <div class="container">

      <div class="hero-unit">
        <h2>Live Demo - Rich Web Interaction</h2>
        <p>
			Every customer deserves a high quality interaction with a business.<br/> 
        	This demo page shows various means of high-resolution interaction between the customer and a web-business. 
         </p>
        <div> 
	        <p>
	        	Click on the feedback buttons located at the right-bottom corner of the page:
	        	<ul>
				  <li>Highlight</li>
				  <li>Photo</li>
				  <li>SpeechToText</li>
				  <li>Audio</li>
				</ul>
	        
	        </p>
        </div>
		<span class="label label-important">This demo works only on the up-to-date version of the desktop Chrome browser. Support for other browsers coming shortly.</span>
        <!-- 
	        <div class="btn-group">
	        	<a class="btn btn-primary">How it works È</a>
	        	<a class="btn btn-primary">Use cases È</a>
	        </div>
         -->
      </div>
      <!-- Example row of columns -->
      <div id="clickhere">
      	<img src="@routes.Assets.at("img/vr_click_here.png")" style="position:fixed; right:75px;bottom:50px;"/>
      </div>
      <div class="row">
        <div class="span3">
          <h4>Highlight</span></h4>
          <p>Highlight parts of the page that you would like to give feedback on.</p>
        </div>
        <div class="span3">
          <h4>Photo</span></h4>
          <p>Click a photo using your webcam. Send visual feedback!</p>
       </div>
        <div class="span3">
          <h4>Speech To Text</span></h4>
          <p>Don't like to type much? Speak and let Google transcribe it for you. Send the transcribed text.</p>
        </div>
        <div class="span3">
          <h4>Audio</span></h4>
          <p>Give us verbal feedback. We are listening!</p>
        </div>
      </div>

      <hr>
    </div> <!-- /container -->
    
    
<!-- <div id="vrendezvous-dialog" title="Rendezvous!">
	    <p>
	        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
	        Your files have downloaded successfully into the My Downloads folder.
	    </p>
	    <p>
	        Currently using <b>36% of your storage space</b>.
	    </p>
	</div>
 -->    
    
    
}