@(message: String)

@main(title = message) {
 	@topnav("", "", "", "", "active")	
 
 
    <div class="container">
     	<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span3">
		      <ul id="aboutuscontent" class="nav nav-list bs-docs-sidenav affix">
			  <li class="nav-header">Features</li>
			  <li class="divider"></li>
			  <li class="active"><a href="#highlights">Highlights</a></li>
			  <li class="divider"></li>
			  <li><a href="#photo">Photo</a></li>
			  <li class="divider"></li>
			  <li><a href="#audio">Audio</a></li>
			  <li class="divider"></li>
			  <li><a href="#dashboard">Dashboard</a></li>
			  <li class="divider"></li>
			</ul>
		      
		    </div>
		    <div class="span9">
		        <h4>Demo of some of the features we have so far:</h4>
				<section id="highlights">
					<h5>Highlights</h5>
					<iframe width="480" height="360" src="http://www.youtube.com/embed/FsNWGWEcJiY" frameborder="0" allowfullscreen></iframe>		
				</section>    	
		    
				<section id="photo">
					<h5>Photo</h5>
					<iframe width="480" height="360" src="http://www.youtube.com/embed/mpqgyCm5QL4" frameborder="0" allowfullscreen></iframe>
				</section>    	
		
				<section id="audio">
					<h5>Audio</h5>
					<iframe width="480" height="360" src="http://www.youtube.com/embed/B1wwmedZfJ0" frameborder="0" allowfullscreen></iframe>
				</section>    	
		    
				<section id="dashboard">
					<h5>Dashboard</h5>
					<iframe width="480" height="360" src="http://www.youtube.com/embed/UvXPTqLEBhs" frameborder="0" allowfullscreen></iframe>
				</section>    			    
		    </div>
		   </div>
		</div>
    
    
    
    
    


    </div> <!-- /container -->
    
}