@(message: String)

@main(title = message) {
	<!-- Need bootstrap.js for tabs -->
	<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

 	@topnav("", "", "active")	
 
    <div class="container">

  		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span3">
		      <ul id="aboutuscontent" class="nav nav-list bs-docs-sidenav affix">
			  <li class="nav-header">How</li>
			  <li class="divider"></li>
			  <li class="active"><a href="#signup">Sign Up</a></li>
			  <li class="divider"></li>
			  <li><a href="#funnel">Support Funnel</a></li>
			  <li class="divider"></li>
			  <li><a href="#install">Install Javascript Code</a></li>
			  <li class="divider"></li>
			  <li><a href="#services">Choose Services</a></li>
			  <li class="divider"></li>
			  <li><a href="#dashboard">Dashboard</a></li>
			  <li class="divider"></li>
			</ul>
		      
		    </div>
		    <div class="span9">
		     <div class="well well-small">
			  <p class="lead">Our platform - Customer Support as a Service</p>
		     </div>
		        <section id="signup">
		          <div class="page-header">
		            <h4>Sign up!</h4>
		          </div>
		          <p>
		          When you sign up, you will be taken to the Dashboard page. You will be automatically assigned an "API KEY" (located in the Administration tab of Dashboard).<br/>  
		          You can perform the following tasks to get started quickly:
		          <ul>
		          	<li>Create a New Funnel</li>
		          	<li>Install Funnel Javascript (for Web Engagement only)</li>
		          	<li>Add Services (optional)</li>
		          	<li>Set up Notifcations, Rules, and other settings</li>
		          </ul> 
		        </section>
		
		        <section id="funnel">
		          <div class="page-header">
		            <h4>Create A Funnel</h4>
		          </div>
		          <ul>
			          <li>To get started you have to create a Funnel for your website / service.</li> 
			          <li>Funnel helps you choose the way in which you want to engage with your customers. You might want certain mechanisms turned on or off. </li>
			          <li>Creating a new Funnel will give you basic Javascript code that you can then install on your website.</li>
			          <li>If you want to be only use Mobile Engagement, you need not install Javascript. We encourage a full experience for your customers and recommend Web Engagement as well.</li>
		          </ul>
		        </section>
		
		        <section id="install">
		          <div class="page-header">
		            <h4>Install Funnel Javascript</h4>
		          </div>
		          <p>Creating a New Funnel will give you a simple Javascript code. Install it on your website.</p>
		          <p>A Sample is shown here below, but it is recommended you generate one using Funnel instead of using this.</p>
       <section>
		<pre>
&lt;script type=&quot;text/javascript&quot;&gt;
   var _visualrendezvousconfig = {
      apiKey: 'PROJECT_API_KEY_FROM_ADMIN_SCREEN',
      highlight: true,
      photo: true,
      speech2text: true,
      audio: true
      valign: 'bottom',
      halign: 'right',
      lang: 'en'
   }; 
   (function() {
	  var s = document.createElement('script');
	  s.type = 'text/javascript';
	  s.async = true;
	  s.src = '//js.visualrendezvous.com/vrendezvous.js';
	  var x = document.getElementsByTagName('head')[0];
	  x.appendChild(s);
   })();
&lt;/script&gt;
		</pre>
	  </section>	  
		        </section>
		
		        <section id="services">
		          <div class="page-header">
		            <h4>Choose Services</h4>
		          </div>
		          <p>We offer some out of the box services for your company to get started. As we perceive it, we want to be one single place for your entire customer interaction.
		          You can also configure your funnel elements to automatically show up on the services that you choose.</p>
		          <p><span class="label label-warning">Services combined with Funnel are necessary and sufficient systems for a Startup to have a Customeer Support Platform.</span>
		          <p>Some out of the box services we offer (not all encompassing:)</p>
		          <ul>
		          	<li>Discussion Forums</li>
		          	<li>Feedback Forums</li>
		          	<li>Knowledge Base</li>
		          </ul> 
		        </section>
		
		        <section id="dashboard">
		          <div class="page-header">
		            <h4>Dashboard and Administration</h4>
		          </div>
		          <p>Once you have performed the tasks as described above, you are ready to act on the feedback/issues gathered. The Administration page helps you perform several 
		          tasks that makes our product a very effective web based Helpdesk.</p>
		          <p>A glimpse of things you can do from the Dashboard, including Administration:</p>
		          <ul>
		          	<li>Review, follow up, and act on every feedback/issue gather via any funnel element.</li>
		          	<li>Setup Notifications on Administration page, in order to be alerted/notified as you wish. You can choose to be notified in several ways (email, sms...)</li>
		          	<li>User management - Manage customer support personnel. Each get their own Dashboard. You can measure the overall status and even individual status./li>
		          	<li>Setup Rules - You think certain Funnels are more important. Get notified with varying degree of priority.</li>
		          	<li>Learn from Analytics what is important to you and what your customers think are important.</li>
		          </ul> 
		        </section>
		
		    </div>
		  </div>
		</div>
 
    </div> <!-- /container -->
 	<script type="text/javascript">
		 $(document).ready(function () {
		     $('ul.nav > li').click(function (e) {
		         //e.preventDefault();
		         $('ul.nav > li').removeClass('active');
		         $(this).addClass('active');                
		     });            
		 });
	</script>
    

}