@(class1: String = "", class2: String = "", class3: String = "", class4: String = "", class5: String = "", class6: String = "")

 <div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Visual Rendezvous</a>
       <div class="nav-collapse collapse">
         <ul class="nav">
           <li class=@class1><a href="/demo">Demo Client</a></li>
           <li class=@class2><a href="/dashboard">Demo Dashboard</a></li>
           <li class=@class3><a href="/how">How it works</a></li>
           <li class=@class4><a href="/about">About</a></li>
           <li class=@class5><a href="/features">Features</a></li>
           <li class=@class6><a href="/usecase">Use Cases</a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>

